<div id="parent_container">
    <div id="map_container"></div>
    <div id="sidebar_container">
        <label>Select color theme:
            <select id="theme_selector">
                <option value="default_theme">Default</option>
                <option value="green_theme">Green</option>
            </select>
        </label>
        <button id="show_demo">Show demo map</button>
        <label id="load_file" class="button"> Load map from file
            <input type="file" id="file_selector" />
        </label>
    </div>
</div>