<h3>Statistics</h3>
<div id="statistics_container">
  <span *ngIf="!areTablesVisible; else displayTable">Please load a file first to see its statistics.</span>
  <ng-template #displayTable>
    <table>
      <tr>
        <th>Node type</th>
        <th>Number of nodes</th>
      </tr>
      <tr *ngFor="let node of nodeTypes">
        <td>{{node.type}}</td>
        <td>{{node.number}}</td>
      </tr>
    </table>
    <table #table>
      <tr>
        <th>Gene name</th>
        <th>Number of reactions</th>
      </tr>
      <tr *ngFor="let gene of genes">
        <td>{{gene.name}}</td>
        <td>{{gene.reactions}}</td>
      </tr>
    </table>
  </ng-template>
</div>